@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --bg-color: #0A192F;
  --bg-color-2: #1c2636;
  --orange: #FF9315;
  --red: #FF3D3D;
  --green: #22ff52;
  --blue: #24a0ed;
  --blue2: #2453ed;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
html {
  background-color: var(--bg-color);
}
.main-container {
  margin: auto;
  display: flex;
  width: 80vw;
  height: 100vh;
  align-items: center;
}
.detail {
  width: 15vw;
  color: white;
}
.detail .title {
  text-align: left;
  padding: 20px 0;
  border-bottom: 4px solid var(--orange);
  margin-bottom: 20px;
}
.detail h3{ 
  margin-top: 10px;
}
.grid-parent {
  border: 5px solid var(--orange);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.grid-col {
  display: flex;
}
.grid {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 0.01px solid rgb(100, 100, 100);
}
.grid:hover {
  background-color: black;
  opacity: .8;
}
.action h3 {
  border-bottom: 2px solid var(--orange);
  padding: 10px 0;
  margin: 20px 0;
  color: white;
}
.action h4 {
  color: white;
  margin-top: 20px;
}
.action h4 span {
  color: var(--orange);
}
.button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: auto;
}
.add-data {
  margin-top: 20px;
  color: white;
  column-gap: 10px;
}
.add-data a {
  color: white;
  margin-right: 20px;
  padding-top: 20px;
}
.add-data a:hover {
  color: var(--orange);
}
button {
  font-size: 10px;
  padding: 8px 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
button:hover {
  opacity: .8;
}
.input-field {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  column-gap: 10px;

}
.input-field input {
  height: 30px;
  width: 100px;
}
.add {
  margin: 0;
  background-color: var(--blue);
}
.clear {
  background-color: var(--red);
}
.predict { 
  background-color: var(--green);
}

.loading h3 {
  border-bottom: none;
}
.loading-bar {
  transition: 0.5s;
  margin-top: -20px;
  width: 98%;
  height: 20px;
  border: 2px solid white;
  background-color: var(--orange);
}
.show-l {
  animation: 1s loading infinite;
}
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}