@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --bg-color: #0A192F;
  --orange: #FF9315;
  --red: #FF3D3D;
  --green: #22ff52;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
html {
  background-color: var(--bg-color);
}
.main-container {
  margin: auto;
  display: flex;
  width: 80vw;
  height: 100vh;
  align-items: center;
}
.detail {
  width: 20vw;
  color: white;
}
.detail .title {
  text-align: left;
  padding: 20px 0;
  border-bottom: 4px solid var(--orange);
  margin-bottom: 20px;
}
.grid-parent {
  border: 5px solid var(--orange);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.grid-col {
  display: flex;
}
.grid {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 0.01px solid rgb(100, 100, 100);
}
.grid:hover {
  background-color: black;
  opacity: .8;
}

.button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: auto;
}
.button h3 {
  color: white;
}
.button button {
  font-size: 10px;
  padding: 8px 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
.clear {
  background-color: var(--red);
}
.predict { 
  background-color: var(--green);
}

.button button:hover {
  opacity: .8;
}